<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>{{getAppName}}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto d-flex align-items-center gap-3">
                        <li class="nav-item">
                            <a class="nav-link fs-2" href="/">{{getAppName}}</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-flex align-items-center">
                        {{#if isAuthenticated}}
                        <li class="nav-item">
                            <a class="nav-link fs-4" aria-current="page" href="/users/logout">Logout</a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a class="nav-link fs-4" aria-current="page" href="/users/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4" aria-current="page" href="/users/register">Register</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {{#if errorMessage}}
    <div class="container alert alert-danger alert-dismissible fade show text-center col-6 mt-3 fs-5" role="alert">
        <strong>{{errorMessage}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    {{{body}}}

    <footer class="py-3 text-center fs-4">
        <span>
            &copy; {{getCurrentYear}} - {{getAppName}}
        </span>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>