<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <title>{{getAppName}}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse fs-4" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">{{getAppName}} <i
                                    class="fa-regular fa-circle-question"></i></a>
                        </li>
                        {{#if isAuthenticated}}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/quiz/create">Upload Quiz</a>
                        </li>
                        {{/if}}
                    </ul>
                    <ul class="navbar-nav gap-4">
                        {{#if isAuthenticated}}
                        <div class="dropdown-center">
                            <a data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="rounded-5" src={{user.profileImage.url}} alt={{user.username}}>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark fs-5">
                                <li>
                                    <a class="dropdown-item" href="/users/settings/{{user._id}}">Settings
                                        <i class="fa-solid fa-gears"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/users/logout">Logout
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {{else}}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/users/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/users/register">Register</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {{#if errorMessage}}
        <div class="container alert alert-danger alert-dismissible fade show text-center col-6 my-5 fs-5" role="alert">
            <strong>{{errorMessage}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        {{{body}}}
    </main>

    <footer class="py-3 text-center fs-4">
        <span>
            &copy; {{getCurrentYear}} - {{getAppName}}
        </span>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>